<div id="col1">
  <h2>Login</h2>
  <label for="tf1">Name: </label>
  <br />
  <input type="text" id="tf1" value="" />
  <br />
  <label for="tf2">Password: </label>
  <br />
  <input type="text" id="tf2" value="" />
  <br />
  <h2>Vote</h2>
  Choose
  <label for="rb1">Yes</label>
  or
  <label for="rb2">No</label>
  :<br />
  <input id="rb1" name="nlrb" type="radio" value="yes" />
  <label for="rb1"> Yes</label>
  <br />
  <input id="rb2" name="nlrb" type="radio" value="no" />
  <label for="rb2">No</label>
</div>